:root {
  --background-color: #181316;
  --background-header: #3570ab;
  --color-letter: #ffffff;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	color: var(--color-letter);
	font-family: Montserrat, sans-serif;
}

.container-blocks {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.name-character {
	width: 100%;
	height: 5rem;
	margin-bottom: 30px;
	background-color: var(--background-header);
}

.name-character__title {
	width: 100%;
	font-size: 2rem;
	text-align: center;
}

.image-character {
	width: 70%;
}

.image-character__picture {
	width: 100%;
	border-radius: 5px;
}

.image-character__captionpic {
	width: 100%;
	text-align: center;
}

.thingsdone {
	width: 70%;
}

.thingsdone__title {
	width: 100%;
	text-align: center;
}

.thingsdone__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.thingsdone__items {
	margin: 0.7rem 0;
	line-height: 1.6rem;
	text-align: justify;
}

.footer-info {
	width: 100%;
	background-color: var(--background-header);
}

.footer-info__info {
	width: 100%;
	text-align: center;
}